html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,300&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js", defer="defer")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="relative py-12 md:py-24 bg-body overflow-hidden")
                div(class="relative container mx-auto px-4")
                    img(class="hidden md:block absolute top-0 right-0 -mt-12 z-10", src="casper-assets/services/robot-skew.png", alt="")
                    div(class="relative z-20 max-w-md lg:max-w-4xl mx-auto lg:mx-0 mb-16")
                        h2(class="font-heading text-4xl xs:text-5xl sm:text-6xl lg:text-7xl font-medium text-white tracking-tight mb-6") Privacy Policy
                        p(class="max-w-xl text-xl text-gray-500 tracking-tight") Last updated: 12 June 2024
                        |       
                    div(class="relative max-w-md lg:max-w-none mx-auto")
                        div(class="flex flex-wrap -mx-4")
                            div(class="relative w-full lg:w-1/2 px-4")
                                div(class="absolute top-0 right-0 -mt-96 w-186 h-186 bg-gradient-to-t from-violet-700 via-darkBlue-900 rounded-full filter blur-4xl")
                                div(class="relative max-w-lg ml-auto")
                                    div(class="mb-18")
                                        h4(class="text-4xl font-medium text-white") Information Collection and Use
                                        div(class="h-1 my-6 bg-white bg-opacity-10 rounded-full")
                                        div(class="md:flex items-start")
                                            div(class="mt-6 md:mt-0 md:ml-6 max-w-sm")
                                                p(class="text-xl text-white leading-relaxed") Our Service does not collect, store, or share any personal or sensitive user data.
                                    div
                                        h4(class="text-4xl font-medium text-white") Log Data
                                        div(class="h-1 my-6 bg-white bg-opacity-10 rounded-full")
                                        div(class="md:flex items-start")
                                            div(class="mt-6 md:mt-0 md:ml-6 max-w-sm")
                                                p(class="text-xl text-white leading-relaxed") We do not collect any log data.
